- apiVersion: maistra.io/v1
  kind: ServiceMeshControlPlane
  metadata:
    name: basic-install
    namespace: {{ sm_namespace }}
  spec:
    istio:
      global:
        mtls:
          enabled: true
        disablePolicyChecks: false
      gateways:
        istio-egressgateway:
          autoscaleEnabled: true
        istio-ingressgateway:
          autoscaleEnabled: true
      grafana:
        enabled: true
      kiali:
        enabled: true
      mixer:
        policy:
          autoscaleEnabled: true
        telemetry:
          autoscaleEnabled: true
      pilot:
        autoscaleEnabled: true
        traceSampling: 10
      tracing:
        enabled: true
        jaeger:
          template: production-elasticsearch
          elasticsearch:
            nodeCount: 3
            resources:
              requests:
                cpu: "1"
                memory: "16Gi"
              limits:
                cpu: "1"
                memory: "16Gi"
      threescale:
        enabled: true
    template: default
