tags
*.log
*.bak
tmp/*
!tmp/.gitkeep
webpage/*-index.html
vars/*
!vars/*.example.yml
.aws
.vscode
playbooks/quay.yml
11009103_ak-dso-tekton1-secret.yaml
dashboard/workshop/tekton-content/images/tekton-pipeline.xcf
