apiVersion: redhatcop.redhat.io/v1alpha1
kind: QuayEcosystem
metadata:
  name: quayecosystem
  namespace: quay-enterprise
spec:
  clair:
    enabled: true
    imagePullSecretName: dummy-pull-secret
  quay:
{% if (enable_quay_repo_mirroring|default(false)) %}
    enableRepoMirroring: true
{% endif %}
    externalAccess:
      hostname: {{ quay_route }}
{% if do_quay_certs|bool %}
      tls:
        secretName: quay-tls-certs
        termination: passthrough
{% endif %}
    imagePullSecretName: dummy-pull-secret
    superuserCredentialsSecretName: quay-superuser
    database:
      volumeSize: 10Gi
    registryStorage:
      persistentVolumeSize: 10Gi
{% if not (deploy_ocs|default(true)) %}
      persistentVolumeAccessModes:
        - ReadWriteOnce
{% endif %}
