# Base namespace for creation of operator
- apiVersion: v1
  kind: Namespace
  metadata:
    labels:
      openshift.io/cluster-monitoring: "true"
    name: 3scale
  spec: {}

# OperatorGroup for OLM configuration
- apiVersion: operators.coreos.com/v1
  kind: OperatorGroup
  metadata:
    name: 3scale-operatorgroup
    namespace: 3scale
  spec:
    targetNamespaces:
    - 3scale

# Subscription to trigger OLM installation
- apiVersion: operators.coreos.com/v1alpha1
  kind: Subscription
  metadata:
    name: 3scale-operator
    namespace: 3scale
  spec:
    channel: threescale-2.8
    installPlanApproval: Automatic
    name: 3scale-operator
    source: redhat-operators
    sourceNamespace: openshift-marketplace

# 3scale registry authentication secret required to pull images
- apiVersion: v1
  kind: Secret
  metadata:
    name: threescale-registry-auth
    namespace: 3scale
  type: kubernetes.io/dockerconfigjson
  stringData:
    .dockerconfigjson: {{ cloud_redhat_com_pull_secret }}

{% if rwx_backing_style == "s3" %}
# Secrets are necessary to allow 3scale to use RWX storage from S3
- apiVersion: v1
  kind: Secret
  metadata:
    name: s3_storage_creds
    namespace: 3scale
  type: Opaque
  stringData:
    AWS_ACCESS_KEY_ID: {{ AWS_ACCESS_KEY_ID|default(ansible_env["AWS_ACCESS_KEY_ID"]) }}
    AWS_SECRET_ACCESS_KEY: {{ AWS_SECRET_ACCESS_KEY|default(ansible_env["AWS_SECRET_ACCESS_KEY"]) }}
{%- endif %}
