apiVersion: apps.3scale.net/v1alpha1
kind: APIManager
metadata:
  name: devsecops-apimanager
  namespace: 3scale
spec:
  wildcardDomain: 3scale.apps.{{ full_cluster_name }}
  resourceRequirementsEnabled: true
  system:
    fileStorage:
{%- if rwx_backing_style == "pvc" %}
      persistentVolumeClaim:
        storageClassName: {{ rwx_backing_store }}
{%- elif rwx_backing_style == "s3" %}
      amazonSimpleStorageService:
         awsBucket: {{ rwx_backing_s3_bucket }}
         awsRegion: {{ aws_region }}
         awsCredentialsSecret: s3_storage_creds
{%- endif %}
