apiVersion: tekton.dev/v1alpha1
kind: Pipeline
metadata:
  name: app-build
  namespace: {{username}}-cicd
spec:
  resources:
    - name: app-git
      type: git
    - name: app-image
      type: image
  tasks:
    - name: build-app
      params:
        - name: TLSVERIFY
          value: 'false'
      taskRef:
        name: s2i-eap-7
        kind: Task
      resources:
        inputs:
          - name: source
            resource: app-git
        outputs:
          - name: image
            resource: app-image
