{% for username in workshop_users|json_query("[].username") %}
- apiVersion: tekton.dev/v1alpha1
  kind: Pipeline
  metadata:
    name: app-build
    namespace: {{ username }}-cicd
  spec:
    resources:
      - name: app-git
        type: git
      - name: app-image
        type: image
    tasks:
      - name: build-app
        params:
          - name: TLSVERIFY
            value: 'false'
        taskRef:
          name: s2i-eap-7
          kind: Task
        resources:
          inputs:
            - name: source
              resource: app-git
          outputs:
            - name: image
              resource: app-image

- apiVersion: tekton.dev/v1alpha1
  kind: Pipeline
  metadata:
    name: maven-build-pipeline
    namespace: {{ username }}-cicd
  spec:
    resources:
      - name: app-git
        type: git
    tasks:
      - name: build-app-with-maven
        params:
          - name: GOALS
            value:
              - install
              - '-f$(inputs.resources.source.path)/pom.xml'
              - '-DskipTests=true'
              - '-Dmaven.repo.local=$(workspaces.maven-repo.path)'
        resources:
          inputs:
            - name: source
              resource: app-git
        taskRef:
          kind: Task
          name: maven-java8
        workspaces:
          - name: maven-repo
            workspace: local-maven-repo
      - name: test-app-with-maven
        params:
          - name: GOALS
            value:
              - test
              - '-f$(inputs.resources.source.path)/pom.xml'
              - '-Dmaven.repo.local=$(workspaces.maven-repo.path)'
        resources:
          inputs:
            - name: source
              resource: app-git
        runAfter:
          - build-app-with-maven
        taskRef:
          kind: Task
          name: maven-java8
        workspaces:
          - name: maven-repo
            workspace: local-maven-repo
      - name: code-analysis
        params:
          - name: GOALS
            value:
              - package
              - 'sonar:sonar'
              - '-f$(inputs.resources.source.path)/pom.xml'
              - '-DskipTests=true'
              - '-Dsonar.host.url=http://sonarqube.devsecops.svc.cluster.local:9000'
              - '-Dmaven.repo.local=$(workspaces.maven-repo.path)'
        resources:
          inputs:
            - name: source
              resource: app-git
        runAfter:
          - test-app-with-maven
        taskRef:
          kind: Task
          name: maven-java8
        workspaces:
          - name: maven-repo
            workspace: local-maven-repo
      - name: archive-app
        params:
          - name: GOALS
            value:
              - deploy
              - '-f$(inputs.resources.source.path)/pom.xml'
              - '-DskipTests=true'
              - '-Pnexus3'
              - '-Dmaven.repo.local=$(workspaces.maven-repo.path)'
        resources:
          inputs:
            - name: source
              resource: app-git
        runAfter:
          - code-analysis
        taskRef:
          kind: Task
          name: maven-java8
        workspaces:
          - name: maven-repo
            workspace: local-maven-repo
      - name: build-taskr-app
        params:
          - name: app_name
            value: tasks
        resources:
          inputs:
            - name: source
              resource: app-git
        runAfter:
          - archive-app
        taskRef:
          kind: Task
          name: build-jboss-app
        workspaces:
          - name: maven-repo
            workspace: local-maven-repo
    workspaces:
      - name: local-maven-repo
{% endfor %}
