{% for user in workshop_users %}
{% for project in projects|json_query("[].name") %}
- apiVersion: v1
  kind: Secret
  metadata:
    name: {{ user.username }}-{{ project }}-quay-reg
    namespace: {{ user.username }}-{{ project }}
  type: kubernetes.io/basic-auth
  stringData:
    username: {{ user.username }}
    password: {{ user.password }}
{% endfor %}
{% endfor %}
