{% for user in workshop_users %}
{% for project in projects|json_query("[].name") %}
- apiVersion: v1
  kind: Secret
  metadata:
    name: {{ user.username }}-{{ project }}-quay-reg
    namespace: {{ user.username }}-{{ project }}
  type: kubernetes.io/basic-auth
  data:
    username: {{ user.username }}
    password: {{ user.password }}

- apiVersion: v1
  kind: ServiceAccount
  metadata:
    name: pipeline
    namespace: {{ user.username }}-{{ project }}
  secrets:
    - {{ user.username }}-{{ project }}-quay-reg
{% endfor %}
{% endfor %}
