{% for machineset in machinesets|json_query("resources[].metadata.name") %}
- apiVersion: autoscaling.openshift.io/v1beta1
  kind: MachineAutoscaler
  metadata:
    name: '{{ machineset }}-autoscaler'
  spec:
    minReplicas: '{{ machineset_min_replicas }}'
    maxReplicas: '{{ machineset_max_replicas }}'
    scaleTargetRef:
      apiVersion: machine.openshift.io/v1beta1
      kind: MachineSet
      name: '{{ machineset }}'
{% endfor %}
